<a href="https://hits.sh/zahlman.github.io+${post.meta['en']['slug']}/"><img alt="Hits since January 1, 2025 (powered by hits.sh)" src="https://hits.sh/zahlman.github.io+${post.meta['en']['slug']}.svg?view=today-total&label=Hits+since+January+1,+2025+%28powered+by+hits.sh%29&color=333&labelColor=066"/></a>
