<a href="https://hits.sh/zahlman.github.io+${year}+${post.meta['en']['slug']}/"><img alt="Hits in ${year} (powered by hits.sh)" src="https://hits.sh/zahlman.github.io+${year}+${post.meta['en']['slug']}.svg?view=today-total&label=Hits in ${year}+%28powered by hits.sh%29&color=333&labelColor=066"/></a>
