## -*- coding: utf-8 -*-
<%inherit file="index.tmpl"/>
<%namespace name="feeds" file="feeds_helper.tmpl" import="*"/>

<%block name="extra_head">
    ${parent.extra_head()}
    ${feeds.head(archive_name, kind, rss_override=False)}
</%block>

<%block name="content_header">
    <header>
        <h1>${title|h}</h1>
        <div class="metadata">
            ${feeds.feed_link(archive, kind)}
        </div>
    </header>
</%block>
