## -*- coding: utf-8 -*-

<%def name="_link_item(value, label, cls, rel)">
    <li class="${cls}${'' if value else ' disabled'}">
        <a href="${value or '#'}" rel="${rel}">
            ${messages(label)}
        </a>
    </li>
</%def>

<%def name="archive_navigation()">
    %if 'archive_page' in pagekind and has_archive_navigation:
        <nav class="archivenav">
            <ul class="pager">
                ${_link_item(previous_archive, "Previous", "previous", "prev")}
                ${_link_item(up_archive, "Up", "up", "up")}
                ${_link_item(next_archive, "Next", "next", "next")}
            </ul>
        </nav>
    %endif
</%def>
