## -*- coding: utf-8 -*-
<%namespace name="comments" file="comments_helper.tmpl"/>

<%def name="_author_line(author)">
    <p class="byline author vcard">
        <span class="byline-name fn" itemprop="author">
            ${author|h}
        </span>
    </p>
</%def>

<%def name="_date_line(post, date_format)">
    <p class="dateline">
        <time class="published dt-published" datetime="${post.formatted_date('webiso')}" itemprop="datePublished" title="${post.formatted_date(date_format)|h}">${post.formatted_date(date_format)|h}</time>
        % if post.updated and post.updated != post.date:
            <span class="updated">
                (${messages("updated")}
                <time class="dt-updated" datetime="${post.formatted_updated('webiso')}" itemprop="dateUpdated" title="${post.formatted_updated(date_format)|h}">${post.formatted_updated(date_format)|h}</time>)
            </span>
        % endif
    </p>
</%def>

<%def name="post_content(post, is_index)">
    <article class="h-entry post-${post.meta('type')}" itemscope="itemscope" itemtype="http://schema.org/Article">
        <header>
            <div class="metadata">
                ${_author_line(post.author())}
                ${_date_line(post, date_format)}
                ${comments.commentline(post)}
            </div>
            ## For non-index pages, the title will be in H1, above the article.
            %if is_index:
                <h2 class="p-name entry-title">
                    <a href="${post.permalink()}" rel="bookmark" class="u-url">
                        ${post.title()|h}
                    </a>
                </h2>
            %endif
        </header>
        <div class="p-summary entry-summary">
            ${post.text(teaser_only=is_index)}
        </div>
    </article>
</%def>
