## -*- coding: utf-8 -*-
<%namespace name="comments" file="comments_helper.tmpl"/>

<%def name="_author_line(author)">
    <p class="byline author vcard p-author h-card">
        <span class="byline-name fn p-name" itemprop="author">
            ${author|h}
        </span>
    </p>
</%def>

<%def name="_time_tag(post, update, date_format)">
    <%
        if update:
            iso = post.formatted_updated('webiso')
            text = post.formatted_updated(date_format)
            ip = "dateUpdated"
            cls = "dt-updated"
        else:
            iso = post.formatted_date('webiso')
            text = post.formatted_date(date_format)
            ip = "datePublished"
            cls = "published dt-published"
    %>
    <time class="${cls}" datetime="${iso}" itemprop="${ip}" title="${text|h}">
        ${text|h}
    </time>
</%def>

<%def name="_date_line(post, format)">
    <p class="dateline">
        <a href="${post.permalink()}" rel="bookmark">
            ${_time_tag(post, False, format)}
            % if post.updated and post.updated != post.date:
                <span class="updated">
                    (${messages("updated")} ${_time_tag(post, True, format)})
                </span>
            % endif
        </a>
    </p>
</%def>

<%def name="post_content(post, is_index)">
    <article class="h-entry post-${post.meta('type')}" itemscope="itemscope" itemtype="http://schema.org/Article">
        <header>
            <div class="metadata">
                ${_author_line(post.author())}
                ${_date_line(post, date_format)}
                ${comments.commentline(post)}
            </div>
            ## For non-index pages, the title will be in H1, above the article.
            %if is_index:
                <h2 class="p-name entry-title">
                    <a href="${post.permalink()}" rel="bookmark" class="u-url">
                        ${post.meta['en']['formatted_title']}
                    </a>
                </h2>
            %endif
        </header>
        <div class="p-summary entry-summary">
            ${post.text(teaser_only=is_index)}
        </div>
    </article>
</%def>
