## -*- coding: utf-8 -*-
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="post.tmpl"/>

<%block name="content">
<article class="post-${post.meta('type')} storypage" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
        ## Avoid entry-name CSS here.
        <h1 itemprop="headline name"><a href="${post.permalink()}" class="u-url">${post.title()|h}</a></h1>
    </header>
    <div class="e-content entry-content" itemprop="articleBody text">
        ${post.text()}
    </div>
    %if enable_comments:
        ${comments.comment_form(post)}
    %endif
</article>
</%block>
