## -*- coding: utf-8 -*-

<%def name="_next_prev_link(link, left, message)">
    <li class="${'previous' if left else 'next'}">
        <a href="${link or '#'}" class="page-link${'' if link else ' disabled'}" aria-label="${message}">
            %if left:
                <span aria-hidden="true">&laquo; ${message}</span>
            %else:
                <span aria-hidden="true">${message} &raquo;</span>
            %endif
        </a>
    </li>
</%def>

<%def name="_numbered_link(link, distance, surrounding, at_end)">
    % if distance == 0:
        <li class="page-item">
            <a href="${link}" class="page-link">
                ${i + 1} <span class="sr-only">(current)</span>
            </a>
        </li>
    % elif distance <= surrounding or at_end:
        <li class="page-item">
            <a href="${link}" class="page-link">${i + 1}</a>
        </li>
    % elif distance == surrounding + 1:
        <li class="page-item disabled">
            <a href="#" class="page-link" aria-label="…">
                <span aria-hidden="true">…</span>
            </a>
        </li>
    % endif
</%def>

<%def name="_numbered_links(page_links, current_page, surrounding)">
    % if page_links:
        % for i, link in enumerate(page_links):
            ${_numbered_link(link, abs(i-current_page), surrounding, i==0 or loop.last)}
        % endfor
    % endif
</%def>

<%def name="_post_link(post, left, label)">
    %if post:
        <%
            date = post.formatted_date(date_format)
            message = f"{label} ({post.formatted_date(date_format)})"
        %>
        ${_next_prev_link(post.permalink(), left, message)}
    %else:
        ${_next_prev_link(None, left, label)}
    %endif
</%def>

<%def name="post_navigation(prev_post, next_post)">
    <nav aria-label="Post navigation">
        <ul class="pager hidden-print">
            ${_post_link(next_post, True, messages("Next post"))}
            ${_post_link(prev_post, False, messages("Previous post"))}
        </ul>
    </nav>
</%def>

<%def name="page_navigation(current_page, page_links, prevlink, nextlink)">
    <nav aria-label="Page navigation">
        <ul class="pager hidden-print">
            ${_next_prev_link(prevlink, True, messages("Newer posts"))}
            ${_numbered_links(page_links, current_page, surrounding)}
            ${_next_prev_link(nextlink, False, messages("Older posts"))}
        </ul>
    </nav>
</%def>
