## -*- coding: utf-8 -*-
<%namespace name="contenthelper" file="index_helper.tmpl"/>
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pagination" file="pagination_helper.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="base.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    ## Maybe reuse tags for this?
    % if post.meta('keywords'):
        <meta name="keywords" content="${smartjoin(', ', post.meta('keywords'))|h}">
    % endif
    <meta name="author" content="${post.author()|h}">
    %if post.prev_post:
        <link rel="prev" href="${post.prev_post.permalink()}" title="${post.prev_post.title()|h}" type="text/html">
    %endif
    %if post.next_post:
        <link rel="next" href="${post.next_post.permalink()}" title="${post.next_post.title()|h}" type="text/html">
    %endif
    ${helper.open_graph_metadata(post)}
</%block>

<%block name="content">
    <%block name="content_header">
        ## Avoid entry-title CSS here.
        <h1 class="p-name">
            <a href="${post.permalink()}" rel="bookmark" class="u-url">
                ${post.title()|h}
            </a>
        </h1>
    </%block>

    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
    ## TODO add post_helper.html_tags to this?
    ${contenthelper.post_content(post, False)}
    <hr>
    ${comments.comment_form(post)}
    ${pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed)}
    <br>
</%block>
