## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="helper" file="tag_helper.tmpl"/>

<%block name="content">
    <h1>Tags and Post Series</h1>
    % if cat_items and items:
        <h2>Tags</h2>
        ${helper.tag_list(items)}
        <h2>Series</h2>
        ${helper.category_list(cat_hierarchy)}
    % elif cat_items:
        ${helper.category_list(cat_hierarchy)}
    % elif items:
        ${helper.tag_list(items)}
    % else:
        No tags or categories found.
    % endif
</%block>
