## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%namespace name="helper" file="tag_helper.tmpl"/>

<%block name="content">
<h1>${title|h}</h1>
    % if cat_items and items:
        <h2>${messages("Categories")}</h2>
        ${helper.category_list(cat_hierarchy)}
        <h2>${messages("Tags")}</h2>
        ${helper.tag_list(items)}
    % elif cat_items:
        ${helper.category_list(cat_hierarchy)}
    % elif items:
        ${helper.tag_list(items)}
    % else:
        No tags or categories found.
    % endif
</%block>
